<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Licksterr - {% block title %}{% endblock %}</title>
    {% endblock %}
    {% block scripts %}
        <script type=text/javascript src="{{ url_for('static', filename='vendors/js/jquery-2.2.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='licksterr.js') }}"></script>
    {% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}{% endblock %}
</div>
</body>
</html>