{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='licksterr.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>Upload file</h1>
    <div id="uploadDiv">
        <input type="file" name="file" id="uploadFile"/>
        <button type="button" id="uploadBtn">Upload</button>
        <span id="uploadPlaceholder"></span>
    </div>
    <div id="trackSelect"></div>
    <h1>Analysis list</h1>
    <ul>
        {% for song, tracks in songs.items() %}
            {% for track in tracks %}
                <li>{{ song|e }} - track #{{ loop.index }}: {{ track }}</li>
                <button value="{{ song.id }}" class="remove-song-button">Remove song</button>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}