{% extends "base.html" %}
{% block title %}{{ song|e }}{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- jQuery Plugin -->
    <script src="{{ url_for('static', filename="vendors/js/jquery-2.2.3.min.js") }}"></script>

    <!-- Including alphaTab -->
    <script src="{{ url_for('static', filename="vendors/js/alphaTab/swfobject.js") }}"></script>
    <script src="{{ url_for('static', filename="vendors/js/alphaTab/alphaTab.min.js") }}"></script>

    <!-- Demo Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"
            integrity="sha256-dd5QxcG/E8fb/H/iIQann2y2EDS0nEMVI56yYWFeeW4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename="vendors/js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="vendors/js/alphaTab/player.js") }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var at = $('#alphaTab');
            at.alphaTab({
                file: '{{ filename }}',
                lazy: false
            });
            at.on('alphaTab.playerReady', function () {
                editTrackInformation({{ analyzed_tracks|tojson }});
                initSongInfoContainer("Choose a ★ track for analysis.");
            });
        });
    </script>
{% endblock %}
{% block css %}
    <link href="{{ url_for('static', filename="vendors/css/mermaid.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="vendors/css/bootstrap/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="vendors/css/adminlte/AdminLTE.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="vendors/css/theme/theme.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="vendors/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename="vendors/css/override.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="vendors/css/player.css") }}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css"
          integrity="sha256-6b+gYy3DG/roKdQiHqp1FJYFQkaZdM6ohUpGyFyUAGk=" crossorigin="anonymous">
    {% for i in range(-1, 12) %}
        <style type="text/css" data-class=".note-{{ i }}">
            .note-{{ i }} {
                display: none;
            }
        </style>
    {% endfor %}
    {% set colors=["#5BC0EB", "#FDE74C", "#9BC53D", "#E55934", "#FA7921"] %}
    {% for i in range(5) %}
        <style type="text/css" data-class=".form-bar-{{ i }}">
            .form-bar-{{ i }} {
                fill: {{ colors[i] }};
            }
        </style>
    {% endfor %}
{% endblock %}
{% block content %}
    <!-- Top Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <!-- Player controls -->
                <ul class="nav navbar-nav">
                    <li>
                        <button id="playPause" class="btn btn-link navbar-btn fa fa-play"></button>
                    </li>
                    <li>
                        <button id="stop" class="btn btn-link navbar-btn fa fa-stop"></button>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Speed: <span id="playbackSpeed">100%</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="playbackSpeedSelector">
                            <li><a href="#" data-value="0.25">25%</a></li>
                            <li><a href="#" data-value="0.5">50%</a></li>
                            <li><a href="#" data-value="0.6">60%</a></li>
                            <li><a href="#" data-value="0.7">70%</a></li>
                            <li><a href="#" data-value="0.8">80%</a></li>
                            <li><a href="#" data-value="0.9">90%</a></li>
                            <li><a href="#" data-value="1">100%</a></li>
                            <li><a href="#" data-value="1.1">110%</a></li>
                            <li><a href="#" data-value="1.25">125%</a></li>
                            <li><a href="#" data-value="1.5">150%</a></li>
                            <li><a href="#" data-value="2">200%</a></li>
                        </ul>
                    </li>
                    <li><a href="#" id="looping" class="fa fa-refresh"></a></li>
                    <li><a href="#" id="metronome" class="fa fa-edit" data-toggle="tooltip" data-placement="bottom"
                           title="Metronome"></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Loading indicator for soundfont -->
                    <li id="soundFontProgressMenuItem" style="display: none;">
                        <p class="navbar-text">SoundFont</p>
                        <div class="progress">
                            <div class="progress-bar" id="soundFontProgress" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%
                            </div>
                        </div>
                    </li>
                    <!-- Track Selector -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" id="currentTrack">
                            Tracks
                        </a>
                        <ul class="dropdown-menu" id="trackList">
                        </ul>
                    </li>
                    <!-- Note highlight options tool -->
                    <li class="dropdown">
                        {# TODO create color selector for intervals in the scale
                           create container here in the dropdown and populate in the JS file after AJAx request
                        #}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" id="highlightOptions"
                           onclick="updateNoteColors(['red'].concat(new Array(11).fill(null)))">
                            Highlight
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
        <div id="alphaTab" data-file="{{ filename }}" data-player="{{ url_for('static', filename="vendors/js/alphaTab/default.sf2") }}"
             data-player-offset="[-10,-70]" class="alphaTab" style="position: relative; text-align: left;">
        </div>
    </div>
{% endblock %}