{% extends "base.html" %}
{% block title %}{{ song|e }}{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendors/AlphaTab.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery.alphaTab.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/AlphaSynth.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery.alphaTab.alphaSynth.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/swfobject.js') }}"></script>
    <script>
        addEventListener("DOMContentLoaded", function () {
            $('#alphaTabScriptInit').alphaTab({
                file: '{{ filename }}',
                tracks: [{{ track_id }}],
            });
        }, true);
    </script>
{% endblock %}
{% block content %}
    <div id="alphaTabScriptInit" data-file="{{ filename }}" data-tracks="{{ track_id }}"></div>
    <script></script>
{% endblock %}